@font-face { font-family: 'BlackA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'WhiteA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff'); font-weight: normal; font-style: normal; } 

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 

.blind { display: none; } 
.wrap { width: 1200px; } 
body { font-family: WhiteA; text-align: center; margin: 0 auto;}
a { text-decoration: none; color: #000; } 
ul { list-style: none; } 

header { display: flex; justify-content: space-between; margin-top: 30px; } 
header h1 img { width: 80px; } 
header nav ul#mainMenu { float: right; display: flex; justify-content: space-around; } 
header nav ul#mainMenu li { margin: 10px 25px; font-size: 14px; font-family: BlackA;}